*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.perfume-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 80px;
  background-color: black;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
}

.main_nav{
  display: flex;
}

.navmain{
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: black;
}

.navmain ul{
  list-style: none;
  padding: 10px;
}

.navmain li a{
  text-decoration: none;
  color: black;
}

.navmain li{
  margin-bottom: 10px;
  padding: 5px;
  text-decoration: none;
  border: solid black 1px;
  background-color: gray;
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  height: 36px;
}

.search-container input {
  border: none;
  padding: 10px;
  font-size: 14px;
  width: 300px;
  outline: none;
}

.search-container button {
  background-color: black;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.search-container button img {
  width: 18px;
  height: 18px;
  filter: invert(1);
}

.icon-group {
  display: flex;
  align-items: center;
}

.icon-group img {
  width: 26px;
  height: 26px;
}

.topbar {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-wrap: wrap;
}

.topbar button {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.logo img {
  max-height: 50px;
}

.icon-group {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  width: 24px;
}

.titlogin{
display: flex;
justify-content: center;
font-weight: bold;
padding: 20px;
}

.loginmain{            
  display: flex;
  justify-content: center;     
  align-items: center;
}

.tit_reg{
display: flex;
justify-content: center;
font-weight: bold;
padding: 20px;
}

.cuenta{
  color: black;
  text-decoration: none;
  background-color:white;
  font-size: 20px;
}

button {
  font-size: 200;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  padding: 10px;

}

.productocat{
  width: 25%;
}

.contenedor_category{
  display: flex;
  padding: 40px;
  max-width: 1400px;
}

.producto{
 text-align: center;
  max-width: 100%;
}

.contenedor_category {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center;
  padding: 20px;
}

.producto {
  box-sizing: border-box;
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.image_producto{
  max-width: 270px;
  width: 100%;   
}

.doscolumnas {
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}

.category {
  background: white;
  padding: 25px;
  border: #695858;
  max-width: 600px;
}

.category-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.title{
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.producto {
  background: white;
  padding: 15px;
  text-align: center;
  width: 50%;
}

.producto img {
  width: 100%;  
  height: 180px;
  object-fit: cover;  /* profesores clase de consulta */
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.navmain{
  width: 220px;
  background: black;
  padding: 20px;
  border-radius: 12px;
}

.navmain ul {
  list-style: none;
  background: none;
  border: none;   
}

.navmain li {
  margin-bottom: 10px;
  background: none;
  border: none;
}

.navmain a {
  display: block;
  padding: 9px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  background: white; 
  font-weight: 500;
}

.producto_seleccionado {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.producto {
  max-width: 600px;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
}

.register_container{
  max-width: 500px;
  margin: 40px;
}

.emailr{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  background: #f5f5f5;
  font-size: 15px;
  box-sizing: border-box;
}

.passwordr {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  background: #f5f5f5;
  font-size: 15px;
  box-sizing: border-box;
}

.passwordrr {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  background: #f5f5f5;
  font-size: 15px;
  box-sizing: border-box;
}
.register_form .checkbox {
  font-size: 14px;
  margin: 15px ;
  display: flex;
  align-items: center;
}

.register_form .btn-submit {
  width: 100%;
  padding: 15px;
  background: white;
  border: 1px solid #000;
  font-size: 14px;
  letter-spacing: 1px;
}

.login_container {
  max-width: 400px;
  margin: 40px;
}

.email, .password {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  background: #f5f5f5;
  font-size: 15px;
  box-sizing: border-box;
}


.producto {
    width: 300px;      
    text-align: center;
}

.login_form .btn_submit {
  width: 100%;
  padding: 15px;
  background: #fff;
  border: 1px solid #000;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn_link{
  margin: 15px;
  text-align: center;
  padding: 12px;
  border: 1px solid #2f2f2f;
  text-decoration: none;
  color: #2f2f2f;
  font-size: 16px;
  border-radius: 8px;
}

.botones_login{
  display: flex;
  flex-direction: column;
}

.producto a{
  margin-top: 5px;
  padding: 2px;
  background-color: #d8d8d8;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  border-radius: 5px;
}

.user-actions{
  display: flex;
}

.image_cat{
  display: flex;
  width: 50%;
}

.unacolumna{
  width: 80%;
  justify-content: space-around;
}

.productose{
  width: 270px;
}

.productose a{
  padding: 2px;
  background-color: #d8d8d8;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  border-radius: 5px;
}

.productocat a{
  padding: 2px ;
  background-color: #d8d8d8;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  border-radius: 5px;
}

.productose img{
  width: 100%;
}

.producto_seleccionado {
  padding: 30px;
}

.saludo {
    color: white;
    list-style: none;
}

@media (max-width: 440px) {
  .perfume-header {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  aside.navmain{
    display: none;
  }
  div.main_nav{
    display: none;
  }
  article.product0{
  padding: 20px;
  font-size: 300px;
  }
  main.loginmain{
    width: 110vw;
  }
  .product-grid {
    flex-direction: column;
    align-items: center;
  }
  .producto {
    width: 100%;
  }
  .productocat{
    font-size: 10px;
    width: 50%;
  }
}